<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include header.html %}
  </head>
  <body>

    {% include nav.html %}

    <main>
      <div class="container">
        <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line">
        <p class="center">[&nbsp;N<sup>o</sup>{% for post in site.posts %}
              {% if post.title == page.title %}
              {{ forloop.index | roman }}
              {% endif %}
              {% endfor %}&nbsp;]
        <span>&nbsp;{{ page.keywords }}</span></p>
        <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line flip">

        <h4 class="brand center" id="title">{{ page.title | upcase }}</h4>
        {% if page.abstract %}<p class="center">{{ page.abstract }}</p>{% endif %}
        {% if page.category %}
        <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag flip">
        <p class="right tagline">{{ page.category }}</p>
        <img src="{{ site.baseurl }}/assets/img/grunge.png" alt="" class="line tag">
        {% endif %}
        <br>
        <h5 class="center space">{{ site.location | upcase }}</h5>
        <h5 class="center">{{ page.date | date: "%A, %B %d, %Y" | upcase }}</h5>
		<!--<h5 class="center">{{ page.date | date_to_long_string | upcase }}</h5>-->
        <!--<div class="threecol justify">-->
		<div class="justify">
          {{ content }}
        </div>
		
        <!--{% if post.author %}
				<p class="right italics">by {{ post.author }}</p>
			{% else %}
				<p class="right italics">by {{ site.author }}</p>
		{% endif %}-->
      </div>
    </main>

  </body>
</html>
